* {
    padding: 0;
    margin: 0;
}
html {
    position: relative;
    height: 100%;
    height: -webkit-fill-available;
    height: -moz-available;
    height: stretch;
    &,
    body {
        min-height: 100vh;
        min-height: -webkit-fill-available;
        min-height: -moz-available;
        min-height: stretch;
        width: 100%;
        height: 100%;
        background-color: set-color(
            (
                light: white,
                dark: primary-900,
            )
        );
    }
}
@include render-colors();
