* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    position: relative;
    height: 100%;
    height: -webkit-fill-available;
    height: -moz-available;
    height: stretch;
    font-size: 16px;
    font-family: $defaultFont;
    &,
    body {
        min-height: 100vh;
        min-height: -webkit-fill-available;
        min-height: -moz-available;
        min-height: stretch;
        will-change: background-color;
        transition: background-color 0.4s ease-in-out;
        background-color: set-color(
            (
                light: grey-200,
                dark: primary-900,
            )
        );
    }
}
@include render-vars();
