// Component: Colour Maps
// Description: Colour Maps
$themeModeDefault: 'light' !global;
$themesReferenceMap: (
    light: (),
    dark: (),
) !global;
$referenceMap: () !global;
$treeshakenColorsMap: ();
$colorsMapList: $theme, $grey, $red;
