// Component: Colour Maps
// Description: Colour Maps
$betaThemify: false;
$themeDefault: 'light';
$paletteDefault: 'primary';
$themes: 'light', 'dark';
$colors: (
    'light': (),
    'dark': (),
);
$colorsGenerator: (
    'light': (),
    'dark': (),
);
$referenceMap: ();
$palettes: (
    'primary': (
        primary: rgb(92, 39, 254),
        //#5C27FE
        primary-100: rgb(193, 101, 221),
        //#3E3BEE
        primary-200: rgb(62, 59, 238),
        //#171733
        primary-900: rgb(23, 23, 51),
        //#C165DD
        secondary: rgb(17, 83, 252),
        //#1153FC
        secondary-100: rgb(85, 129, 241),
        //#5581F1
        green: rgb(8, 199, 146),
        //#08C792
        green-100: rgb(42, 254, 183),
        //#2AFEB7
        orange: rgb(255, 123, 2),
        //#FF7B02
        orange-100: rgb(255, 203, 82),
        //#FFCB52
        red: rgba(255, 95, 80, 1),
        //#ff5f50
        red-200: rgba(255, 224, 221, 1),
        //#ffe0dd
        red-300: rgba(238, 145, 167, 1),
        //#ee91a7
        red-400: rgba(230, 90, 124, 1),
        //#e65a7c
        red-500: rgba(127, 18, 44, 1),
        //#7f122c
        red-600: rgba(85, 12, 29, 1),
        //#550c1d
        grey-100: rgba(248, 249, 250, 1),
        grey-200: rgba(233, 236, 239, 1),
        grey-300: rgba(222, 226, 230, 1),
        grey-400: rgba(206, 212, 218, 1),
        grey-500: rgba(173, 181, 189, 1),
        grey-600: rgba(108, 117, 125, 1),
        grey-700: rgba(73, 80, 87, 1),
        grey-800: rgba(52, 58, 64, 1),
        grey-900: rgba(33, 37, 41, 1),
        white: rgba(255, 255, 255, 1),
        black: rgba(0, 0, 0, 1),
    ),
);
$brands: (
    'dribbble': rgba(68, 68, 68, 1),
    'dropbox': rgba(0, 126, 229, 1),
    'facebook': rgba(59, 89, 152, 1),
    'flattr': rgba(246, 124, 26, 1),
    'flickr': rgba(0, 99, 220, 1),
    'googleplus': rgba(221, 75, 57, 1),
    'imdb': rgba(245, 222, 80, 1),
    'instagram': rgba(63, 114, 155, 1),
    'linkedin': rgba(0, 119, 181, 1),
    'myspace': rgba(0, 0, 0, 1),
    'pintrest': rgba(204, 33, 39, 1),
    'rss': rgba(242, 101, 34, 1),
    'tumblr': rgba(53, 70, 92, 1),
    'twitch': rgba(100, 65, 165, 1),
    'twitter': rgba(85, 172, 238, 1),
    'vine': rgba(0, 180, 136, 1),
    'vimeo': rgba(22, 34, 33, 1),
    'vkontakte': rgba(69, 102, 142, 1),
    'yahoo': rgba(64, 1, 145, 1),
    'youtube': rgba(205, 32, 31, 1),
);

// Component: Configuration File
// Description: Configuration File Component

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-family-serif: Georgia, 'Times New Roman', Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family-base: $font-family-sans-serif;
$font-size-base: 16px;
$font-size-small: ceil(($font-size-base * 0.857));
$font-size-large: ceil(($font-size-base * 1.14));
$font-size-h1: floor(($font-size-base * 2.6));
$font-size-h2: floor(($font-size-base * 2.15));
$font-size-h3: floor(($font-size-base * 1.7));
$font-size-h4: floor(($font-size-base * 1.25));
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.857));
$line-height-base: 1.428571429;
$line-height-computed: floor($font-size-base * $line-height-base);
$headings-font-family: inherit;
$headings-font-weight: 500;
$headings-line-height: 1.1;
$headings-color: inherit;

//Spinner
$loading-spinner-refresh: '\f021';
$loading-spinner-circle-o-notch: '\f1ce';
$loading-spinner-cog: '\f013';
$loading-spinner: '\f110';

//Components
$padding-base-vertical: 9px;
$padding-xs-vertical: 3px;
$padding-small-vertical: 6px;
$padding-large-vertical: 18px;
$padding-base-horizontal: 9px;
$padding-xs-horizontal: 3px;
$padding-small-horizontal: 6px;
$padding-large-horizontal: 18px;

$border-radius-base: 4px;
$border-radius-small: 3px;
$border-radius-large: 6px;

$line-height-large: 1.3333333;
$line-height-small: 1.5;

$col-12: 100%;
$col-11: 91.666666666666666666666666666667%;
$col-10: 83.333333333333333333333333333333%;
$col-9: 75%;
$col-8: 66.666666666666666666666666666667%;
$col-7: 58.333333333333333333333333333333%;
$col-6: 50%;
$col-5: 41.666666666666666666666666666667%;
$col-4: 33.3333333333%;
$col-3: 25%;
$col-2: 16.666666666666666666666666666667%;
$col-1: 8.3333333333333333333333333333333%;

$media-breakpoints: (
    xs: 0,
    sm: 720px,
    md: 1024px,
    lg: 1200px,
    xl: 1600px,
    hd: 1900px,
) !default;

$grid-breakpoints: (
    xs: 0,
    sm: 720px,
    md: 1024px,
    lg: 1200px,
    xl: 1600px,
    hd: 1900px,
) !default;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px,
) !default;
