$amber: (
    //#fff8e1
    amber-50: rgb(255, 248, 225),
    //#ffecb3
    amber-100: rgb(255, 236, 179),
    //#ffe082
    amber-200: rgb(255, 224, 130),
    //#ffd54f
    amber-300: rgb(255, 213, 79),
    //#ffca28
    amber-400: rgb(255, 202, 40),
    //#ffc107
    amber-500: rgb(255, 193, 7),
    //#ffb300
    amber-600: rgb(255, 179, 0),
    //#ffa000
    amber-700: rgb(255, 160, 0),
    //#ff8f00
    amber-800: rgb(255, 143, 0),
    //#ff6f00
    amber-900: rgb(255, 111, 0),
    //#ffe57f
    amber-a-100: rgb(255, 229, 127),
    //#ffd740
    amber-a-200: rgb(255, 215, 64),
    //#ffc400
    amber-a-400: rgb(255, 196, 0),
    //#ffab00
    amber-a-700: rgb(255, 171, 0)
) !default;
