$blue: (
    //#e3f2fd
    blue-50: rgb(227, 242, 253),
    //#bbdefb
    blue-100: rgb(187, 222, 251),
    //#90caf9
    blue-200: rgb(144, 202, 249),
    //#64b5f6
    blue-300: rgb(100, 181, 246),
    //#42a5f5
    blue-400: rgb(66, 165, 245),
    //#2196f3
    blue-500: rgb(33, 150, 243),
    //#1e88e5
    blue-600: rgb(30, 136, 229),
    //#1976d2
    blue-700: rgb(25, 118, 210),
    //#1565c0
    blue-800: rgb(21, 101, 192),
    //#0d47a1
    blue-900: rgb(13, 71, 161),
    //#82b1ff
    blue-a-100: rgb(130, 177, 255),
    //#448aff
    blue-a-200: rgb(68, 138, 255),
    //#2979ff
    blue-a-400: rgb(41, 121, 255),
    //#2962ff
    blue-a-700: rgb(41, 98, 255)
) !default;
