$blue-grey: (
    //#eceff1
    blue-grey-50: rgb(236, 239, 241),
    //#cfd8dc
    blue-grey-100: rgb(207, 216, 220),
    //#b0bec5
    blue-grey-200: rgb(176, 190, 197),
    //#90a4ae
    blue-grey-300: rgb(144, 164, 174),
    //#78909c
    blue-grey-400: rgb(120, 144, 156),
    //#607d8b
    blue-grey-500: rgb(96, 125, 139),
    //#546e7a
    blue-grey-600: rgb(84, 110, 122),
    //#455a64
    blue-grey-700: rgb(69, 90, 100),
    //#37474f
    blue-grey-800: rgb(55, 71, 79),
    //#263238
    blue-grey-900: rgb(38, 50, 56)
) !default;
