$brown: (
    //#efebe9
    brown-50: rgb(239, 235, 233),
    //#d7ccc8
    brown-100: rgb(215, 204, 200),
    //#bcaaa4
    brown-200: rgb(188, 170, 164),
    //#a1887f
    brown-300: rgb(161, 136, 127),
    //#8d6e63
    brown-400: rgb(141, 110, 99),
    //#795548
    brown-500: rgb(121, 85, 72),
    //#6d4c41
    brown-600: rgb(109, 76, 65),
    //#5d4037
    brown-700: rgb(93, 64, 55),
    //#4e342e
    brown-800: rgb(78, 52, 46),
    //#3e2723
    brown-900: rgb(62, 39, 35)
) !default;
