$cyan: (
    //#e0f7fa
    cyan-50: rgb(224, 247, 250),
    //#b2ebf2
    cyan-100: rgb(178, 235, 242),
    //#80deea
    cyan-200: rgb(128, 222, 234),
    //#4dd0e1
    cyan-300: rgb(77, 208, 225),
    //#26c6da
    cyan-400: rgb(38, 198, 218),
    //#00bcd4
    cyan-500: rgb(0, 188, 212),
    //#00acc1
    cyan-600: rgb(0, 172, 193),
    //#0097a7
    cyan-700: rgb(0, 151, 167),
    //#00838f
    cyan-800: rgb(0, 131, 143),
    //#006064
    cyan-900: rgb(0, 96, 100),
    //#84ffff
    cyan-a-100: rgb(132, 255, 255),
    //#18ffff
    cyan-a-200: rgb(24, 255, 255),
    //#00e5ff
    cyan-a-400: rgb(0, 229, 255),
    //#00b8d4
    cyan-a-700: rgb(0, 184, 212)
) !default;
