$deep-purple: (
    //#ede7f6
    deep-purple-50: rgb(237, 231, 246),
    //#d1c4e9
    deep-purple-100: rgb(209, 196, 233),
    //#b39ddb
    deep-purple-200: rgb(179, 157, 219),
    //#9575cd
    deep-purple-300: rgb(149, 117, 205),
    //#7e57c2
    deep-purple-400: rgb(126, 87, 194),
    //#673ab7
    deep-purple-500: rgb(103, 58, 183),
    //#5e35b1
    deep-purple-600: rgb(94, 53, 177),
    //#512da8
    deep-purple-700: rgb(81, 45, 168),
    //#4527a0
    deep-purple-800: rgb(69, 39, 160),
    //#311b92
    deep-purple-900: rgb(49, 27, 146),
    //#b388ff
    deep-purple-a-100: rgb(179, 136, 255),
    //#7c4dff
    deep-purple-a-200: rgb(124, 77, 255),
    //#651fff
    deep-purple-a-400: rgb(101, 31, 255),
    //#6200ea
    deep-purple-a-700: rgb(98, 0, 234)
) !default;
