$deep-orange: (
    //#fbe9e7
    deep-orange-50: rgb(251, 233, 231),
    //#ffccbc
    deep-orange-100: rgb(255, 204, 188),
    //#ffab91
    deep-orange-200: rgb(255, 171, 145),
    //#ff8a65
    deep-orange-300: rgb(255, 138, 101),
    //#ff7043
    deep-orange-400: rgb(255, 112, 67),
    //#ff5722
    deep-orange-500: rgb(255, 87, 34),
    //#f4511e
    deep-orange-600: rgb(244, 81, 30),
    //#e64a19
    deep-orange-700: rgb(230, 74, 25),
    //#d84315
    deep-orange-800: rgb(216, 67, 21),
    //#bf360c
    deep-orange-900: rgb(191, 54, 12),
    //#ff9e80
    deep-orange-a-100: rgb(255, 158, 128),
    //#ff6e40
    deep-orange-a-200: rgb(255, 110, 64),
    //#ff3d00
    deep-orange-a-400: rgb(255, 61, 0),
    //#dd2c00
    deep-orange-a-700: rgb(221, 44, 0)
) !default;
