$green: (
    //#e8f5e9
    green-50: rgb(232, 245, 233),
    //#c8e6c9
    green-100: rgb(200, 230, 201),
    //#a5d6a7
    green-200: rgb(165, 214, 167),
    //#81c784
    green-300: rgb(129, 199, 132),
    //#66bb6a
    green-400: rgb(102, 187, 106),
    //#4caf50
    green-500: rgb(76, 175, 80),
    //#43a047
    green-600: rgb(67, 160, 71),
    //#388e3c
    green-700: rgb(56, 142, 60),
    //#2e7d32
    green-800: rgb(46, 125, 50),
    //#1b5e20
    green-900: rgb(27, 94, 32),
    //#b9f6ca
    green-a-100: rgb(185, 246, 202),
    //#69f0ae
    green-a-200: rgb(105, 240, 174),
    //#00e676
    green-a-400: rgb(0, 230, 118),
    //#00c853
    green-a-700: rgb(0, 200, 83)
) !default;
