$indigo: (
    //#e8eaf6
    indigo-50: rgb(232, 234, 246),
    //#c5cae9
    indigo-100: rgb(197, 202, 233),
    //#9fa8da
    indigo-200: rgb(159, 168, 218),
    //#7986cb
    indigo-300: rgb(121, 134, 203),
    //#5c6bc0
    indigo-400: rgb(92, 107, 192),
    //#3f51b5
    indigo-500: rgb(63, 81, 181),
    //#3949ab
    indigo-600: rgb(57, 73, 171),
    //#303f9f
    indigo-700: rgb(48, 63, 159),
    //#283593
    indigo-800: rgb(40, 53, 147),
    //#1a237e
    indigo-900: rgb(26, 35, 126),
    //#8c9eff
    indigo-a-100: rgb(140, 158, 255),
    //#536dfe
    indigo-a-200: rgb(83, 109, 254),
    //#3d5afe
    indigo-a-400: rgb(61, 90, 254),
    //#304ffe
    indigo-a-700: rgb(48, 79, 254)
) !default;
