$light-blue: (
    //#e1f5fe
    light-blue-50: rgb(225, 245, 254),
    //#b3e5fc
    light-blue-100: rgb(179, 229, 252),
    //#81d4fa
    light-blue-200: rgb(129, 212, 250),
    //#4fc3f7
    light-blue-300: rgb(79, 195, 247),
    //#29b6f6
    light-blue-400: rgb(41, 182, 246),
    //#03a9f4
    light-blue-500: rgb(3, 169, 244),
    //#039be5
    light-blue-600: rgb(3, 155, 229),
    //#0288d1
    light-blue-700: rgb(2, 136, 209),
    //#0277bd
    light-blue-800: rgb(2, 119, 189),
    //#01579b
    light-blue-900: rgb(1, 87, 155),
    //#80d8ff
    light-blue-a-100: rgb(128, 216, 255),
    //#40c4ff
    light-blue-a-200: rgb(64, 196, 255),
    //#00b0ff
    light-blue-a-400: rgb(0, 176, 255),
    //#0091ea
    light-blue-a-700: rgb(0, 145, 234)
) !default;
