$light-green: (
    //#f1f8e9
    light-green-50: rgb(241, 248, 233),
    //#dcedc8
    light-green-100: rgb(220, 237, 200),
    //#c5e1a5
    light-green-200: rgb(197, 225, 165),
    //#aed581
    light-green-300: rgb(174, 213, 129),
    //#9ccc65
    light-green-400: rgb(156, 204, 101),
    //#8bc34a
    light-green-500: rgb(139, 195, 74),
    //#7cb342
    light-green-600: rgb(124, 179, 66),
    //#689f38
    light-green-700: rgb(104, 159, 56),
    //#558b2f
    light-green-800: rgb(85, 139, 47),
    //#33691e
    light-green-900: rgb(51, 105, 30),
    //#ccff90
    light-green-a-100: rgb(204, 255, 144),
    //#b2ff59
    light-green-a-200: rgb(178, 255, 89),
    //#76ff03
    light-green-a-400: rgb(118, 255, 3),
    //#64dd17
    light-green-a-700: rgb(100, 221, 23)
) !default;
