$lime: (
    //#f9fbe7
    lime-50: rgb(249, 251, 231),
    //#f0f4c3
    lime-100: rgb(240, 244, 195),
    //#e6ee9c
    lime-200: rgb(230, 238, 156),
    //#dce775
    lime-300: rgb(220, 231, 117),
    //#d4e157
    lime-400: rgb(212, 225, 87),
    //#cddc39
    lime-500: rgb(205, 220, 57),
    //#c0ca33
    lime-600: rgb(192, 202, 51),
    //#afb42b
    lime-700: rgb(175, 180, 43),
    //#9e9d24
    lime-800: rgb(158, 157, 36),
    //#827717
    lime-900: rgb(130, 119, 23),
    //#ccff90
    lime-a-100: rgb(244, 255, 129),
    //#b2ff59
    lime-a-200: rgb(238, 255, 65),
    //#c6ff00
    lime-a-400: rgb(198, 255, 0),
    //#aeea00
    lime-a-700: rgb(174, 234, 0)
) !default;
