$orange: (
    //#fff3e0
    orange-50: rgb(255, 243, 224),
    //#ffe0b2
    orange-100: rgb(255, 224, 178),
    //#ffcc80
    orange-200: rgb(255, 204, 128),
    //#ffb74d
    orange-300: rgb(255, 183, 77),
    //#ffa726
    orange-400: rgb(255, 167, 38),
    //#ff9800
    orange-500: rgb(255, 152, 0),
    //#fb8c00
    orange-600: rgb(251, 140, 0),
    //#f57c00
    orange-700: rgb(245, 124, 0),
    //#ef6c00
    orange-800: rgb(239, 108, 0),
    //#e65100
    orange-900: rgb(230, 81, 0),
    //#ffd180
    orange-a-100: rgb(255, 209, 128),
    //#ffab40
    orange-a-200: rgb(255, 171, 64),
    //#ff9100
    orange-a-400: rgb(255, 145, 0),
    //#ff6d00
    orange-a-700: rgb(255, 109, 0)
) !default;
