$purple: (
    //#f3e5f5
    purple-50: rgb(243, 229, 245),
    //#e1bee7
    purple-100: rgb(225, 190, 231),
    //#ce93d8
    purple-200: rgb(206, 147, 216),
    //#ba68c8
    purple-300: rgb(186, 104, 200),
    //#ab47bc
    purple-400: rgb(171, 71, 188),
    //#9c27b0
    purple-500: rgb(156, 39, 176),
    //#8e24aa
    purple-600: rgb(142, 36, 170),
    //#7b1fa2
    purple-700: rgb(123, 31, 162),
    //#6a1b9a
    purple-800: rgb(106, 27, 154),
    //#4a148c
    purple-900: rgb(74, 20, 140),
    //#ea80fc
    purple-a-100: rgb(234, 128, 252),
    //#e040fb
    purple-a-200: rgb(224, 64, 251),
    //#d500f9
    purple-a-400: rgb(213, 0, 249),
    //#aa00ff
    purple-a-700: rgb(170, 0, 255)
) !default;
