$red: (
    //#ffebee
    red-50: rgb(255, 235, 238),
    //#ffcdd2
    red-100: rgb(255, 205, 210),
    //#ef9a9a
    red-200: rgb(239, 154, 154),
    //#e57373
    red-300: rgb(229, 115, 115),
    //#ef5350
    red-400: rgb(239, 83, 80),
    //#f44336
    red-500: rgb(244, 67, 54),
    //#e53935
    red-600: rgb(229, 57, 53),
    //#d32f2f
    red-700: rgb(211, 47, 47),
    //#c62828
    red-800: rgb(198, 40, 40),
    //#b71c1c
    red-900: rgb(183, 28, 28),
    //#ff8a80
    red-a-100: rgb(255, 138, 128),
    //#ff5252
    red-a-200: rgb(255, 82, 82),
    //#ff1744
    red-a-400: rgb(255, 23, 68),
    //#d50000
    red-a-700: rgb(213, 0, 0)
) !default;
