$teal: (
    //#e0f2f1
    teal-50: rgb(223, 241, 241),
    //#b2dfdb
    teal-100: rgb(178, 223, 219),
    //#80cbc4
    teal-200: rgb(128, 203, 196),
    //#4db6ac
    teal-300: rgb(77, 182, 172),
    //#26a69a
    teal-400: rgb(38, 166, 154),
    //#009688
    teal-500: rgb(0, 150, 136),
    //#00897b
    teal-600: rgb(0, 137, 123),
    //#00796b
    teal-700: rgb(0, 121, 107),
    //#00695c
    teal-800: rgb(0, 105, 92),
    //#004d40
    teal-900: rgb(0, 77, 64),
    //#a7ffeb
    teal-a-100: rgb(167, 255, 235),
    //#64ffda
    teal-a-200: rgb(100, 255, 218),
    //#1de9b6
    teal-a-400: rgb(29, 233, 182),
    //#00bfa5
    teal-a-700: rgb(0, 191, 165)
) !default;
