$theme: (
    primary: rgb(92, 39, 254),
    //#5C27FE
    primary-100: rgb(193, 101, 221),
    //#3E3BEE
    primary-200: rgb(62, 59, 238),
    //#171733
    primary-900: rgb(23, 23, 51),
    //#C165DD
    secondary: rgb(17, 83, 252),
    //#1153FC
    secondary-100: rgb(85, 129, 241),
    white: rgba(255, 255, 255, 1),
    black: rgba(0, 0, 0, 1),
);
