$yellow: (
    //#fffde7
    yellow-50: rgb(255, 253, 231),
    //#fff9c4
    yellow-100: rgb(255, 249, 196),
    //#fff59d
    yellow-200: rgb(255, 245, 157),
    //#fff176
    yellow-300: rgb(255, 241, 118),
    //#ffee58
    yellow-400: rgb(255, 238, 88),
    //#ffeb3b
    yellow-500: rgb(255, 235, 59),
    //#fdd835
    yellow-600: rgb(253, 216, 53),
    //#fbc02d
    yellow-700: rgb(251, 192, 45),
    //#f9a825
    yellow-800: rgb(249, 168, 37),
    //#f57f17
    yellow-900: rgb(245, 127, 23),
    //#ffff8d
    yellow-a-100: rgb(255, 255, 141),
    //#ffff00
    yellow-a-200: rgb(255, 255, 0),
    //#ffea00
    yellow-a-400: rgb(255, 234, 0),
    //#ffd600
    yellow-a-700: rgb(255, 214, 0)
) !default;
