@function add-color($colorId, $theme, $colorKey, $modifier: false, $value: false) {
    $colorRef: unique-id();
    $oldReferenceMap: $referenceMap;
    $currentThemesReferenceMap: $themesReferenceMap;
    $currentThemeMap: map-get($themesReferenceMap, $theme);
    $rgbaColor: map-get($availableColors, $colorKey);
    @if $modifier != false and $value != false {
        $rgbaColor: call(get-function($modifier), $colorKey, $value);
    }
    $colorMap: (
        $colorRef: $rgbaColor,
    );
    $themeColorMap: (
        $colorId: $colorRef,
    );
    $themeMap: (
        $theme: map-merge($currentThemeMap, $themeColorMap),
    );
    $referenceMap: map-merge($oldReferenceMap, $colorMap) !global;
    $themesReferenceMap: map-deep-merge($currentThemesReferenceMap, $themeMap) !global;
    @return #{$colorId};
}
