@function get-color($colorId, $theme, $colorRGBA) {
    $colorRef: nth(map-keys($referenceMap), get-colors-index($referenceMap, $colorRGBA));
    $currentThemesReferenceMap: $themesReferenceMap;
    $currentThemeMap: map-get($themesReferenceMap, $theme);
    $themeColorMap: (
        $colorId: $colorRef,
    );
    $themeMap: (
        $theme: map-merge($currentThemeMap, $themeColorMap),
    );
    $themesReferenceMap: map-deep-merge($currentThemesReferenceMap, $themeMap) !global;
    @return #{$colorId};
}
