@function match-colors($first, $second) {
  @if (type-of($first) != color or type-of($second) != color) {
    @return false;
  }
  $firstColor: red($first), blue($first), green($first), alpha($first);
  $secondColor: red($second), blue($second), green($second), alpha($second);
  @for $i from 1 through length($firstColor) {
    $f: nth($firstColor, $i);
    $s: nth($secondColor, $i);
    @if ($f != $s) {
      @return false;
    }
  }
  @return true;
}